// colors
@import "utility";
@import "btn";
$color-primary:#ffff;
$color-black:#131313;

$font-small:2.5rem;
$font-medium:3.2rem;
$font-large:4.6rem;

// Global- Reset
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
// root font size set in html- 1rem is 10px
html{
    font-size: 10px;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400; 
    line-height: 1.5;
    padding: 3rem;
}
::selection{
    background: #ffdfb7;
}

.side-nav{
    
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    top:50%;
    left:.2%;

    height: 100vh;

}
.fa-whatsapp{
    display: inline-block;
    color:rgb(250, 182, 158);
    font-size: 3rem; 
    margin-bottom:3rem;
    transition: all .2s;
    &:hover{
        color: coral;
    }
}
.fa-facebook-f{
    position: absolute;
    left: 8%;
    display: inline-block;
    color:rgb(250, 182, 158);
    font-size: 3rem; 
    margin-bottom:3rem;
    transition: all .2s;
    &:hover{
        color: coral;
    }
}
.fa-envelope-open{
    display: inline-block;
    color:rgb(250, 182, 158);
    font-size: 3rem; 
    margin-bottom:3rem;
    transition: all .2s;
    &:hover{
        color: coral;
    }
    
}
.heading{
    position: relative;
    height:95vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.521),rgba(238, 238, 238, 0.705));
    &-primary{
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 4px;
        word-spacing: 3px;
       font-size:$font-large ;
        background-image: linear-gradient(to right,#ffdfb7,rgb(245, 198, 141));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition: all .3s;
        &:hover{
            transform: scale(1.2);
            letter-spacing: 1px;
            text-shadow: 0rem 2rem 1.5rem rgba($color-black,.2);
        }
       
    }
}
.head:hover{
    transform: scale(1.2);
    letter-spacing: 1px;
    text-shadow: 0rem 2rem 1.5rem rgba($color-black,.2);
}
.image_container{
    position: relative;
    z-index: 3;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  
}

.card-1{
    // display: none;
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
    margin: 0 auto;
    max-width: 40rem;
    border-radius: 3px;
    padding: 3rem;
    background-color: bisque;
    &_text{
        font-size: $font-small;
        color: $color-black;
        letter-spacing: 2px;
        font-weight: 100;
    }
        
}

.card-2{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    margin: 0 auto;
    max-width: 40rem;
    border-radius: 3px;
    padding: 3rem;
    background-color: bisque;
    &_text{
        font-size: $font-small;
        color: $color-black;
        letter-spacing: 2px;
        font-weight: 100;
    }
        
}

.card-3{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    margin: 0 auto;
    max-width: 40rem;
    border-radius: 3px;
    padding: 3rem;
    background-color: bisque;
    &_text{
        font-size: $font-small;
        color: $color-black;
        letter-spacing: 2px;
        font-weight: 100;
    }
        
}

.card-4{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    margin: 0 auto;
    max-width: 40rem;
    border-radius: 3px;
    padding: 3rem;
    background-color: bisque;
    &_text{
        font-size: $font-small;
        color: $color-black;
        letter-spacing: 2px;
        font-weight: 100;
    }
        
}
    

.section-appointment{
   
    height: 90vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(238, 238, 238, 0.9));//url('/img/app.png');
    background-size: cover;
    background-position: top;
    padding: 5rem 20rem;
    margin-top: 3rem;

   

    &_details{
        margin:5rem 3rem;

        
    }
}


.email,.password{
   
    min-width: 50rem;
    padding: 2rem 4rem;
    margin:1rem 2rem;
    border-radius: 5px;
    border: 1px solid #ffdfb7;
    outline: none;
    font-size: 2.2rem;
    font-family: "Lato", sans-serif ;
    letter-spacing: 3px;
   
}

input::placeholder{
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    letter-spacing: 4px;
    outline: none;
    color: rgb(245, 198, 141);
}

.select{
    font-family: "Lato",sans-serif;
    color:rgb(245, 198, 141);
    padding: 1rem;
   
    height: 6rem;
    border: 1px solid #ffdfb7;
    font-size: 2rem;
   
    -webkit-appearence:button;
    outline: none;
    margin:1.5rem 2rem;
    border-radius: 5px;
    letter-spacing: 3px;

}

textarea{
   
    resize: none;
    outline: none;
    font-family: "Lato" , sans-serif;
    font-size: 2.5rem;
    margin:1.5rem 2rem;
    padding: 1rem 1rem;
    border: 1px solid #ffdfb7;
    letter-spacing: 3px;
    

}

textarea::placeholder{
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    letter-spacing: 4px;
    outline: none;
    color: rgb(245, 198, 141);
}

.grid{
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
}

.img_appointment{
    height: 80rem;
    width: 100rem;
    flex-grow: 2;
}
.gender_btn{
    width:25%;
    display: inline-block;
    margin: 1rem 2rem;
    font-family: "Lato", sans-serif;
    color: rgb(245, 198, 141);
    letter-spacing: 2px;
    font-size: $font-small;
}
.label_radio-male{
    padding: 1rem;
    position: relative;

}
.form_radio_male{
     display: none ;
}

.label_btn{
    height: 3rem;
    width: 3rem;
    border: 2px solid rgb(245, 198, 141);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left:-2.85rem;
    top:1.2rem;
    &::after{
        content: '';
        height: 1.5rem;
        width:1.5rem;
        border-radius: 50%;
      
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: rgb(245, 198, 141);
        opacity: 0;
        transition: opacity .2s;
    }
    

}

.form_radio_male:checked ~ .label_radio-male .label_btn::after{
    opacity: 1;

}

.card-1_svg{
    text-align: center;
    margin-bottom: 2rem;
}
.fa-calendar-check{
    display: inline;
    color: #fff;
    font-size: 6rem; 
    
}
.fa-fly{
    display: inline;
    color: #fff;
    font-size: 6rem; 
}
.fa-credit-card{
    display: inline;
    color: #fff;
    font-size: 6rem; 
}
.fa-user-nurse{
    display: inline;
    color: #fff;
    font-size: 6rem; 
}

nav{
    position: fixed;
    top:0;
    left: 3rem;
    z-index: 500000;
    width: 97%;
    background-color: rgba(238, 238, 238, 0.705);
    padding: 2.5rem 1.2rem;
    margin-bottom:2rem ;
  
   
}
.x:target{
    opacity: 1;
    visibility: visible;
}
.nav_user{
   position: absolute;
   right: 5%;
   top: 30%;
}


.fa-user-shield{
    
    margin-right: 1rem;
    font-size: $font-medium;
}
nav a{
   
    
    text-decoration: none;
    text-transform: capitalize;
     color: rgb(245, 198, 141);
     position: relative;
     margin-left: 5rem;
     overflow: hidden;
     font-size: $font-small;
     font-weight: 200;
     transition: all .2s;
     letter-spacing: 3px;
     word-spacing: 2px;
     cursor: pointer;



}
nav a:first-child{
    margin-left: 1rem;
}
a:hover{
    color: coral;
}


nav a::after{
    
    content:"";
    position: absolute;
    top: 105%;
    left:100%;
   width: 110%;
    height: .2rem;
    background: coral;
    transition: all .2s;

    opacity: 0;}

nav a:hover::after{
    left:0;
    opacity: 1;
}

.popup{
    background-color: rgba(238, 238, 238, 0.9);
    position: fixed;
    top:0;
    left:0;
    padding-top: 2rem;
    z-index: 1000000000;
    height: 100vh;
    width: 100%;
    opacity:0 ;
    visibility: hidden;
    transition: all .4s;
    &:target{
        opacity: 1;
        visibility: visible;
    }
       
    #popup_head{
        transition: all .4s;
    }
    

    
    
    &_content{
        background-color: #fff;
        width: 50rem;
        box-shadow: 0 2rem 4rem 3rem rgba(238, 238, 238, .9);
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        padding: 3.5rem 0;
        overflow: hidden;;
        

    }

        &_overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 17.5rem;
            height: 100%;
            border-radius: 3rem;
            background-color:#ffdfb7;
            transition: .5s;
        }
        
        
        &_btn-boxx{
           
            width:38rem;
            margin: 5rem auto;
            position: relative;
            box-shadow: 0 0 20px 9px #ffdfb7;
            border-radius: 3rem;
            padding: 2rem 2rem;
        }
      

        &_toggle-btn{
        
           
            text-align: center;
            font-family: "Lato", sans-serif;
            letter-spacing: 2px;
            font-size: 2rem;
            cursor: pointer;
            background: transparent;
            border: 0;
            margin-left: 5rem;
            outline: none;
            position: relative;
            color: #313131;

        }
        
        &_ip-group{
            
            width: 40rem;
            position: relative;
            left: 16%;
            transition: all .8s;
            margin-top: 2.8rem;
           
        }
            &_cross{
                width: 5.5rem;
                height: 5.5rem;
                background: whitesmoke;
                position: absolute;
                top:1%;
                right:2%;
                border-radius: 100%;
                text-align: center;
                transition: all .5s;
                &_close:link,
                &_close:visited
                {
                 font-size: 5rem;
                 text-decoration: none;
                 display: inline-block;
                 position: absolute;
                 top:-24%;
                 right: 24%;
                 color: #313131;
                 font-weight: 50;
     
                }
            }
          
           &_cross:hover{
              
               background: #ffdfb7;
           }

        &_ip-field{
            font-family: "Lato" , sans-serif;
            width: 35rem;
            padding: 2rem 3rem;
            border-radius: 4px;
            letter-spacing: 2.5px;
            border: 1px solid #ffdfb7;
            outline: none;
            font-size: 2.5rem;
            margin-bottom: 2.8rem;
            margin-top: 2.5rem;
            background: transparent;
        }

        &_btn{
            padding:2.5rem 4rem;
        }
        &_btn-submit{
            padding: 2.5rem 4rem;
        }
           
        
           
    

    
   
        #lab-admin{
            position: absolute;
            top: 29%;
            left: 110%;
        }
    }
    
    .btn-primary{
        border: 1px solid #ffdfb7 ;
    
    }